/* screen - contactfaq-1 */

.border-class-1 {

}
.border-class-2 {

}
.border-class-3 {

}
.border-class-4 {

}
.border-class-5 {
  border: 1px solid rgba(114,110,110,1.0);
}
.border-class-6 {
  border: 1px solid rgba(126,125,125,1.0);
}
.border-class-7 {
  border: 1px solid rgba(0,0,0,0.34);
}
.contactfaq-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 2321px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.contactfaq-1 .answer-13782-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 572px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq-1 .answer-13792-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 870px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq-1 .auto-reply-13852-MuRY45 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 57px;
}
.contactfaq-1 .auto-reply-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 2236px;
  position: absolute;
  top: 47px;
  width: 55px;
}
.contactfaq-1 .auto-reply-fAyFQL {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 57px;
}
.contactfaq-1 .calendar-1-CfPDGH {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}
.contactfaq-1 .candidate-1-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 57px;
  position: absolute;
  top: 610px;
  width: 34px;
}
.contactfaq-1 .candidate-13825-C61RwL {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 613px;
  width: 254px;
}
.contactfaq-1 .contact-13755-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 395px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  width: 191px;
}
.contactfaq-1 .contact-13828-C61RwL {
  background-color: transparent;
  color: var(--blue-jeans);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 753px;
  width: 254px;
}
.contactfaq-1 .does-the-c-tion-13787-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 818px;
  white-space: nowrap;
  width: 1095px;
}
.contactfaq-1 .editicon-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 846px;
  position: absolute;
  top: 55px;
  width: 47px;
}
.contactfaq-1 .editicon-QxM5SU {
  background-color: transparent;
  height: 32px;
  left: 2158px;
  position: absolute;
  top: 766px;
  width: 38px;
}
.contactfaq-1 .editicon-VMr6Om {
  background-color: transparent;
  height: 32px;
  left: 2158px;
  position: absolute;
  top: 209px;
  width: 38px;
}
.contactfaq-1 .editicon-mzXdH9 {
  background-color: transparent;
  height: 32px;
  left: 2158px;
  position: absolute;
  top: 468px;
  width: 38px;
}
.contactfaq-1 .ellipse-10-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 93.26%;
  position: absolute;
  top: 5.92%;
  width: 0px;
}
.contactfaq-1 .ellipse-11-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 1945px;
  position: absolute;
  top: 39px;
  width: 5px;
}
.contactfaq-1 .ellipse-3-ZKo2U4 {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.contactfaq-1 .ellipse-4-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 2256px;
  position: absolute;
  top: 166px;
  width: 4px;
}
.contactfaq-1 .ellipse-4-QxM5SU {
  background-color: transparent;
  height: 4px;
  left: 2206px;
  position: absolute;
  top: 785px;
  width: 4px;
}
.contactfaq-1 .ellipse-4-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 2206px;
  position: absolute;
  top: 228px;
  width: 4px;
}
.contactfaq-1 .ellipse-4-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 2206px;
  position: absolute;
  top: 487px;
  width: 4px;
}
.contactfaq-1 .ellipse-5-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 2262px;
  position: absolute;
  top: 166px;
  width: 5px;
}
.contactfaq-1 .ellipse-5-QxM5SU {
  background-color: transparent;
  height: 4px;
  left: 2212px;
  position: absolute;
  top: 785px;
  width: 5px;
}
.contactfaq-1 .ellipse-5-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 2212px;
  position: absolute;
  top: 228px;
  width: 5px;
}
.contactfaq-1 .ellipse-5-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 2212px;
  position: absolute;
  top: 487px;
  width: 5px;
}
.contactfaq-1 .ellipse-6-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 2269px;
  position: absolute;
  top: 166px;
  width: 4px;
}
.contactfaq-1 .ellipse-6-QxM5SU {
  background-color: transparent;
  height: 4px;
  left: 2219px;
  position: absolute;
  top: 785px;
  width: 4px;
}
.contactfaq-1 .ellipse-6-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 2219px;
  position: absolute;
  top: 228px;
  width: 4px;
}
.contactfaq-1 .ellipse-6-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 2219px;
  position: absolute;
  top: 487px;
  width: 4px;
}
.contactfaq-1 .event-13838-CfPDGH {
  background-color: transparent;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: 254px;
}
.contactfaq-1 .event-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 57px;
  position: absolute;
  top: 680px;
  width: 304px;
}
.contactfaq-1 .faq-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 2148px;
  position: absolute;
  top: 82px;
  width: 18px;
}
.contactfaq-1 .filedownload-1-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 2155px;
  position: absolute;
  top: 339px;
  width: 19px;
}
.contactfaq-1 .head-of-re--inc-13834-C61RwL {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 305px;
  width: 358px;
}
.contactfaq-1 .helenface-C61RwL {
  background-color: transparent;
  height: 123px;
  left: 385px;
  position: absolute;
  top: 219px;
  width: 122px;
}
.contactfaq-1 .hi-my-name-ched-13772-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: auto;
}
.contactfaq-1 .i-am-avail--pst-13780-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 618px;
  width: 1095px;
}
.contactfaq-1 .icon-1-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 60px;
  position: absolute;
  top: 464px;
  width: 27px;
}
.contactfaq-1 .img501721-1-1-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 60px;
  position: absolute;
  top: 755px;
  width: 32px;
}
.contactfaq-1 .introduction-13766-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 213px;
  white-space: nowrap;
  width: 211px;
}
.contactfaq-1 .job-1-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 56px;
  position: absolute;
  top: 531px;
  width: 34px;
}
.contactfaq-1 .job-descri-npdf-13770-C61RwL {
  background-color: transparent;
  color: var(--matisse);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 2015px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 335px;
  white-space: nowrap;
  width: 181px;
}
.contactfaq-1 .jobicon-C61RwL {
  background-color: var(--matisse-2);
  height: 46px;
  left: 48px;
  position: absolute;
  top: 526px;
  width: 47px;
}
.contactfaq-1 .jobs-13824-C61RwL {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 538px;
  width: 112px;
}
.contactfaq-1 .lily-du-13833-C61RwL {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 207px;
}
.contactfaq-1 .line-3-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 924px;
  position: absolute;
  top: 130px;
  width: 1397px;
}
.contactfaq-1 .log-out-13831-C61RwL {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1195px;
  width: 254px;
}
.contactfaq-1 .my-google--nder-13793-C61RwL {
  background-color: transparent;
  color: var(--matisse);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 2029px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 652px;
  white-space: nowrap;
  width: 147px;
}
.contactfaq-1 .nav-C61RwL {
  background-color: transparent;
  height: 2341px;
  left: -21px;
  position: absolute;
  top: -14px;
  width: 397px;
}
.contactfaq-1 .notification-13858-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1909px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 81px;
  width: 67px;
}
.contactfaq-1 .on-off-button-HEiWFI {
  background-color: transparent;
  height: 13px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 31px;
}
.contactfaq-1 .pattern-1-C61RwL {
  background-color: transparent;
  height: 232px;
  left: 289px;
  position: absolute;
  top: 0px;
  width: 1631px;
}
.contactfaq-1 .post-1-C61RwL {
  background-color: transparent;
  height: 33px;
  left: 59px;
  position: absolute;
  top: 388px;
  width: 31px;
}
.contactfaq-1 .post-13823-C61RwL {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 391px;
  width: 112px;
}
.contactfaq-1 .profile-13822-C61RwL {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 465px;
  width: 112px;
}
.contactfaq-1 .question-13781-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 469px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq-1 .question-13791-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 767px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq-1 .rectangle-29-ZKo2U4 {
  background-color: rgba(125,125,125,1.0);
  border-radius: 13.4px;
  height: 7px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 31px;
}
.contactfaq-1 .rectangle-33-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);;
  height: 211px;
  left: 1006px;
  position: absolute;
  top: 202px;
  width: 1234px;
}
.contactfaq-1 .rectangle-33-VMr6Om {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);;
  height: 259px;
  left: 1006px;
  position: absolute;
  top: 462px;
  width: 1234px;
}
.contactfaq-1 .rectangle-33-mzXdH9 {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);;
  height: 259px;
  left: 1006px;
  position: absolute;
  top: 760px;
  width: 1234px;
}
.contactfaq-1 .rectangle-34-2P4qUJ {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 84px;
  left: 1055px;
  position: absolute;
  top: 903px;
  width: 1136px;
}
.contactfaq-1 .rectangle-34-C61RwL {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 124px;
  left: 1055px;
  position: absolute;
  top: 246px;
  width: 1136px;
}
.contactfaq-1 .rectangle-34-QxM5SU {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 56px;
  left: 1055px;
  position: absolute;
  top: 804px;
  width: 1136px;
}
.contactfaq-1 .rectangle-34-VMr6Om {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 56px;
  left: 1055px;
  position: absolute;
  top: 506px;
  width: 1136px;
}
.contactfaq-1 .rectangle-34-mzXdH9 {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 84px;
  left: 1055px;
  position: absolute;
  top: 605px;
  width: 1136px;
}
.contactfaq-1 .screen-sho--04-at-5-1-C61RwL {
  background-color: transparent;
  height: 208px;
  left: 90px;
  position: absolute;
  top: 43px;
  width: 208px;
}
.contactfaq-1 .screen-sho-6-at-331-1-C61RwL {
  background-color: transparent;
  height: 973px;
  left: 382px;
  position: absolute;
  top: 193px;
  width: 539px;
}
.contactfaq-1 .search-bar-C61RwL {
  background-color: var(--gallery);
  border-radius: 10px;
  box-shadow: 0px 2.32794451713562px 11.639721870422363px rgba(0,0,0,0.1);;
  height: 56px;
  left: 395px;
  position: absolute;
  top: 131px;
  width: 503px;
}
.contactfaq-1 .search-icon-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 846px;
  position: absolute;
  top: 145px;
  width: 30px;
}
.contactfaq-1 .search-message-13759-C61RwL {
  background-color: transparent;
  color: var(--black-2);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 414px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 145px;
  width: 252px;
}
.contactfaq-1 .sidebar-C61RwL {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.1);;
  height: 1065px;
  left: 380px;
  position: absolute;
  top: 24px;
  width: 543px;
}
.contactfaq-1 .span1-ZVDdU9 {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}
.contactfaq-1 .span2-ZVDdU9 {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.30px;
  line-height: 25px;
}
.contactfaq-1 .subtract-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 1929px;
  position: absolute;
  top: 67px;
  width: 10px;
}
.contactfaq-1 .summary-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 2031px;
  position: absolute;
  top: 84px;
  width: 46px;
}
.contactfaq-1 .technology-rn-png-3-1-C61RwL {
  background-color: transparent;
  height: 236px;
  left: -1487px;
  position: absolute;
  top: -769px;
  width: 573px;
}
.contactfaq-1 .text-HEiWFI {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 55px;
}
.contactfaq-1 .union-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 1916px;
  position: absolute;
  top: 33px;
  width: 37px;
}
.contactfaq-1 .union-VMr6Om {
  background-color: transparent;
  height: 37px;
  left: 2034px;
  position: absolute;
  top: 36px;
  width: 31px;
}
.contactfaq-1 .union-mzXdH9 {
  background-color: transparent;
  height: 20px;
  left: 2053px;
  position: absolute;
  top: 50px;
  width: 18px;
}
.contactfaq-1 .vector-2P4qUJ {
  background-color: transparent;
  height: 0px;
  left: 93.28%;
  position: absolute;
  top: 5.89%;
  width: 0px;
}
.contactfaq-1 .vector-7-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 92.82%;
  position: absolute;
  top: 5.05%;
  width: 0px;
}
.contactfaq-1 .vector-8-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 2058px;
  position: absolute;
  top: 54px;
  width: 9px;
}
.contactfaq-1 .vector-C61RwL {
  background-color: transparent;
  height: 2.78%;
  left: 92.03%;
  position: absolute;
  top: 3.69%;
  width: 1.59%;
}
.contactfaq-1 .vector-QxM5SU {
  background-color: transparent;
  height: 1.44%;
  left: 93.02%;
  position: absolute;
  top: 4.19%;
  width: 0.32%;
}
.contactfaq-1 .vector-VMr6Om {
  background-color: transparent;
  height: 1.25%;
  left: 92.34%;
  position: absolute;
  top: 4.20%;
  width: 0.32%;
}
.contactfaq-1 .vector-mzXdH9 {
  background-color: transparent;
  height: 1.30%;
  left: 92.59%;
  position: absolute;
  top: 4.17%;
  width: 0.39%;
}
.contactfaq-1 .whats-your-view-13777-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 520px;
  white-space: nowrap;
  width: 1095px;
}
.contactfaq-1 .x-add-more-qa-13794-C61RwL {
  background-color: transparent;
  color: var(--matisse);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 2106px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 150px;
  white-space: nowrap;
  width: 149px;
}
.contactfaq-1 .yes-the-co-tion-13790-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 916px;
  width: 1095px;
}
.roboto-bold-white-18px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-white-35px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}
.roboto-light-black-15px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
.roboto-medium-black-10548787117004395px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-18px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-20px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-23px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-30px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-17px {
  color: var(--white);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 17px;
}
.roboto-normal-white-23px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.6);
  --black-3: rgba(0,0,0,0.5);
  --blue-jeans: rgba(99,180,255,1.0);
  --gallery: rgba(240,238,238,1.0);
  --jelly-bean: rgba(30,118,170,1.0);
  --matisse: rgba(25,94,157,1.0);
  --matisse-2: rgba(29,112,167,1.0);
  --seashell: rgba(241,241,241,1.0);
  --white: rgba(255,255,255,1.0);
}
