/* screen - contactfaq */

.border-class-1 {

}
.border-class-2 {

}
.border-class-3 {

}
.border-class-4 {

}
.border-class-5 {
  border: 1px solid rgba(114,110,110,1.0);
}
.border-class-6 {
  border: 1px solid rgba(126,125,125,1.0);
}
.border-class-7 {
  border: 1px solid rgba(0,0,0,0.34);
}
.contactfaq {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 2321px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.contactfaq .alex-smith-13641-C61RwL {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 262px;
  width: 207px;
}
.contactfaq .answer-13674-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 572px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq .answer-13684-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 870px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq .auto-reply-13713-MuRY45 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 57px;
}
.contactfaq .auto-reply-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 2226px;
  position: absolute;
  top: 34px;
  width: 55px;
}
.contactfaq .auto-reply-fAyFQL {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 57px;
}
.contactfaq .contact-13631-C61RwL {
  background-color: transparent;
  color: var(--blue-jeans);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 763px;
  width: 254px;
}
.contactfaq .contact-13647-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 395px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  width: 191px;
}
.contactfaq .currently--work-13682-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 916px;
  width: 1095px;
}
.contactfaq .editicon-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 846px;
  position: absolute;
  top: 55px;
  width: 47px;
}
.contactfaq .editicon-QxM5SU {
  background-color: transparent;
  height: 32px;
  left: 2158px;
  position: absolute;
  top: 766px;
  width: 38px;
}
.contactfaq .editicon-VMr6Om {
  background-color: transparent;
  height: 32px;
  left: 2158px;
  position: absolute;
  top: 209px;
  width: 38px;
}
.contactfaq .editicon-mzXdH9 {
  background-color: transparent;
  height: 32px;
  left: 2158px;
  position: absolute;
  top: 468px;
  width: 38px;
}
.contactfaq .ellipse-10-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 92.83%;
  position: absolute;
  top: 4.72%;
  width: 0px;
}
.contactfaq .ellipse-11-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 1935px;
  position: absolute;
  top: 26px;
  width: 5px;
}
.contactfaq .ellipse-3-ZKo2U4 {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.contactfaq .ellipse-4-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 2256px;
  position: absolute;
  top: 166px;
  width: 4px;
}
.contactfaq .ellipse-4-QxM5SU {
  background-color: transparent;
  height: 4px;
  left: 2206px;
  position: absolute;
  top: 785px;
  width: 4px;
}
.contactfaq .ellipse-4-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 2206px;
  position: absolute;
  top: 228px;
  width: 4px;
}
.contactfaq .ellipse-4-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 2206px;
  position: absolute;
  top: 487px;
  width: 4px;
}
.contactfaq .ellipse-5-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 2262px;
  position: absolute;
  top: 166px;
  width: 5px;
}
.contactfaq .ellipse-5-QxM5SU {
  background-color: transparent;
  height: 4px;
  left: 2212px;
  position: absolute;
  top: 785px;
  width: 5px;
}
.contactfaq .ellipse-5-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 2212px;
  position: absolute;
  top: 228px;
  width: 5px;
}
.contactfaq .ellipse-5-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 2212px;
  position: absolute;
  top: 487px;
  width: 5px;
}
.contactfaq .ellipse-6-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 2269px;
  position: absolute;
  top: 166px;
  width: 4px;
}
.contactfaq .ellipse-6-QxM5SU {
  background-color: transparent;
  height: 4px;
  left: 2219px;
  position: absolute;
  top: 785px;
  width: 4px;
}
.contactfaq .ellipse-6-VMr6Om {
  background-color: transparent;
  height: 4px;
  left: 2219px;
  position: absolute;
  top: 228px;
  width: 4px;
}
.contactfaq .ellipse-6-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 2219px;
  position: absolute;
  top: 487px;
  width: 4px;
}
.contactfaq .event-13630-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 691px;
  width: 254px;
}
.contactfaq .faq-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 2138px;
  position: absolute;
  top: 69px;
  width: 18px;
}
.contactfaq .filedownload-1-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 2155px;
  position: absolute;
  top: 339px;
  width: 19px;
}
.contactfaq .group-6-x5SWxw {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 47px;
}
.contactfaq .hi-my-name-ched-13664-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 1095px;
}
.contactfaq .home-13626-C61RwL {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 391px;
  width: 112px;
}
.contactfaq .i-am-avail--pst-13672-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 618px;
  width: 1095px;
}
.contactfaq .icon-C61RwL {
  background-color: transparent;
  height: 435px;
  left: 34px;
  position: absolute;
  top: 385px;
  width: 45px;
}
.contactfaq .intersect-C61RwL {
  background-color: transparent;
  height: 173px;
  left: 96px;
  position: absolute;
  top: 63px;
  width: 173px;
}
.contactfaq .introduction-13658-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 213px;
  white-space: nowrap;
  width: 211px;
}
.contactfaq .job-1-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 40px;
  position: absolute;
  top: 533px;
  width: 34px;
}
.contactfaq .jobicon-C61RwL {
  background-color: var(--jelly-bean);
  height: 46px;
  left: 32px;
  position: absolute;
  top: 528px;
  width: 47px;
}
.contactfaq .jobicon-VMr6Om {
  background-color: var(--jelly-bean);
  height: 46px;
  left: 32px;
  position: absolute;
  top: 606px;
  width: 47px;
}
.contactfaq .jobs-13628-C61RwL {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 540px;
  width: 112px;
}
.contactfaq .line-3-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 924px;
  position: absolute;
  top: 130px;
  width: 1397px;
}
.contactfaq .log-out-13643-C61RwL {
  background-color: transparent;
  height: auto;
  left: 254px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1042px;
  width: 254px;
}
.contactfaq .my-google--nder-13685-C61RwL {
  background-color: transparent;
  color: var(--matisse);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 2029px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 656px;
  white-space: nowrap;
  width: 147px;
}
.contactfaq .nav-C61RwL {
  background-color: transparent;
  height: 1674px;
  left: -37px;
  position: absolute;
  top: -10px;
  width: 397px;
}
.contactfaq .notification-13719-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1899px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 68px;
  width: 67px;
}
.contactfaq .on-off-button-HEiWFI {
  background-color: transparent;
  height: 13px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 31px;
}
.contactfaq .pattern-1-C61RwL {
  background-color: transparent;
  height: 232px;
  left: 289px;
  position: absolute;
  top: 0px;
  width: 1631px;
}
.contactfaq .profile-13627-C61RwL {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 467px;
  width: 112px;
}
.contactfaq .question-13673-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 469px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq .question-13683-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1055px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 767px;
  white-space: nowrap;
  width: 140px;
}
.contactfaq .recommende-jobs-13629-C61RwL {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 615px;
  width: 254px;
}
.contactfaq .rectangle-29-ZKo2U4 {
  background-color: rgba(125,125,125,1.0);
  border-radius: 13.4px;
  height: 7px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 31px;
}
.contactfaq .rectangle-33-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);;
  height: 211px;
  left: 1006px;
  position: absolute;
  top: 202px;
  width: 1234px;
}
.contactfaq .rectangle-33-VMr6Om {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);;
  height: 259px;
  left: 1006px;
  position: absolute;
  top: 462px;
  width: 1234px;
}
.contactfaq .rectangle-33-mzXdH9 {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);;
  height: 259px;
  left: 1006px;
  position: absolute;
  top: 760px;
  width: 1234px;
}
.contactfaq .rectangle-34-2P4qUJ {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 84px;
  left: 1055px;
  position: absolute;
  top: 903px;
  width: 1136px;
}
.contactfaq .rectangle-34-C61RwL {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 124px;
  left: 1055px;
  position: absolute;
  top: 246px;
  width: 1136px;
}
.contactfaq .rectangle-34-QxM5SU {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 56px;
  left: 1055px;
  position: absolute;
  top: 804px;
  width: 1136px;
}
.contactfaq .rectangle-34-VMr6Om {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 56px;
  left: 1055px;
  position: absolute;
  top: 506px;
  width: 1136px;
}
.contactfaq .rectangle-34-mzXdH9 {
  background-color: var(--seashell);
  border-radius: 10px;
  height: 84px;
  left: 1055px;
  position: absolute;
  top: 605px;
  width: 1136px;
}
.contactfaq .resumepdf-13662-C61RwL {
  background-color: transparent;
  color: var(--matisse);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 2068px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 335px;
  white-space: nowrap;
  width: 130px;
}
.contactfaq .screen-sho--at-1044-1-C61RwL {
  background-color: transparent;
  height: 911px;
  left: 367px;
  position: absolute;
  top: 193px;
  width: 569px;
}
.contactfaq .search-bar-C61RwL {
  background-color: var(--gallery);
  border-radius: 10px;
  box-shadow: 0px 2.32794451713562px 11.639721870422363px rgba(0,0,0,0.1);;
  height: 56px;
  left: 395px;
  position: absolute;
  top: 131px;
  width: 503px;
}
.contactfaq .search-icon-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 846px;
  position: absolute;
  top: 145px;
  width: 30px;
}
.contactfaq .search-message-13651-C61RwL {
  background-color: transparent;
  color: var(--black-2);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 414px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 145px;
  width: 252px;
}
.contactfaq .sidebar-C61RwL {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.1);;
  height: 1065px;
  left: 380px;
  position: absolute;
  top: 24px;
  width: 543px;
}
.contactfaq .software-e-ence-13642-C61RwL {
  background-color: transparent;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 307px;
  width: 358px;
}
.contactfaq .span1-fO8rl1 {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}
.contactfaq .span2-fO8rl1 {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.50px;
  line-height: 25px;
}
.contactfaq .star-1-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 41px;
  position: absolute;
  top: 612px;
  width: 30px;
}
.contactfaq .subtract-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 1919px;
  position: absolute;
  top: 54px;
  width: 10px;
}
.contactfaq .summary-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 2020px;
  position: absolute;
  top: 23px;
  width: 47px;
}
.contactfaq .summary-We5Zte {
  background-color: transparent;
  height: 37px;
  left: 5px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.contactfaq .summary-njXdbs {
  background-color: transparent;
  height: 10px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 46px;
}
.contactfaq .summary-vVHfqG {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 47px;
}
.contactfaq .technology-rn-png-3-1-C61RwL {
  background-color: transparent;
  height: 236px;
  left: -1503px;
  position: absolute;
  top: -765px;
  width: 573px;
}
.contactfaq .text-HEiWFI {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 55px;
}
.contactfaq .union-8YHHpE {
  background-color: transparent;
  height: 20px;
  left: 19px;
  position: absolute;
  top: 14px;
  width: 18px;
}
.contactfaq .union-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 1906px;
  position: absolute;
  top: 20px;
  width: 37px;
}
.contactfaq .union-rcQi9P {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}
.contactfaq .vector-2P4qUJ {
  background-color: transparent;
  height: 0px;
  left: 92.84%;
  position: absolute;
  top: 4.69%;
  width: 0px;
}
.contactfaq .vector-7-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 92.39%;
  position: absolute;
  top: 3.84%;
  width: 0px;
}
.contactfaq .vector-8-rcQi9P {
  background-color: transparent;
  height: 10px;
  left: 23px;
  position: absolute;
  top: 18px;
  width: 9px;
}
.contactfaq .vector-C61RwL {
  background-color: transparent;
  height: 2.78%;
  left: 91.60%;
  position: absolute;
  top: 2.48%;
  width: 1.59%;
}
.contactfaq .vector-QxM5SU {
  background-color: transparent;
  height: 1.44%;
  left: 92.58%;
  position: absolute;
  top: 2.99%;
  width: 0.32%;
}
.contactfaq .vector-VMr6Om {
  background-color: transparent;
  height: 1.25%;
  left: 91.91%;
  position: absolute;
  top: 2.99%;
  width: 0.32%;
}
.contactfaq .vector-mzXdH9 {
  background-color: transparent;
  height: 1.30%;
  left: 92.16%;
  position: absolute;
  top: 2.96%;
  width: 0.39%;
}
.contactfaq .whats-your-n-us-13679-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 818px;
  white-space: nowrap;
  width: 1095px;
}
.contactfaq .whats-your-week-13669-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 520px;
  white-space: nowrap;
  width: 1095px;
}
.contactfaq .x-add-more-qa-13686-C61RwL {
  background-color: transparent;
  color: var(--matisse);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 2106px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 150px;
  white-space: nowrap;
  width: 149px;
}
.roboto-bold-white-18px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-white-35px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}
.roboto-light-black-15px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
.roboto-medium-black-10548787117004395px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-18px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-20px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-23px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-30px {
  color: var(--black);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-17px {
  color: var(--white);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 17px;
}
.roboto-normal-white-23px {
  color: var(--white);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.6);
  --black-3: rgba(0,0,0,0.5);
  --blue-jeans: rgba(99,180,255,1.0);
  --gallery: rgba(240,238,238,1.0);
  --jelly-bean: rgba(30,118,170,1.0);
  --matisse: rgba(25,94,157,1.0);
  --matisse-2: rgba(29,112,167,1.0);
  --seashell: rgba(241,241,241,1.0);
  --white: rgba(255,255,255,1.0);
}
